<!DOCTYPE html>
<html>
<title>
     newfront
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="sidebar.css">
<link rel="stylesheet" href="newfront.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body  style=" background-image: url('key1.jpg');
background-repeat: no-repeat;
background-attachment: fixed; 
background-size: 100% 700px;">

    <!-- responsive nav bar ----------------------------------------------------------------------------------------------->
  
    <div class="w3-top">
    <div class="w3-bar" id="myP" style="height: 75px;">
        <a href="#" class="w3-bar-item" style="color: #ff3333;font-size: 40px;font-family: Impact;text-decoration: none;"><b>Startatcoding</b></a>
            <a href="#" class="w3-bar-item w3-button w3-hover-none w3-text-white w3-hover-text-white w3-hide-medium w3-hide-small" style="margin-left: 55%;margin-top: 20px;">Home</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-none w3-text-white w3-hover-text-white w3-hide-medium w3-hide-small" style="margin-left: 20px;margin-top: 20px;">About</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-none w3-text-white w3-hover-text-white w3-hide-medium w3-hide-small" style="margin-left: 20px;margin-top: 20px;">Contact</a>
            <a href="#" class="w3-button w3-hover w3-card w3-hide-medium w3-hide-small w3-hover-text-white w3-text-white" style="background-color: #ff3333;margin-top: 10px;margin-left: 10px;">signin</a>
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large" onclick="rrr()" style="margin-top: 20px;">&#9776;</a>
      </div>
      
      
      <div id="demo" class="w3-bar-block w3-white w3-hide w3-hide-large">
        <a href="#" class="w3-bar-item w3-button" style="text-align: center;">Link 1</a>
        <a href="#" class="w3-bar-item w3-button" style="text-align: center;">Link 2</a>
        <a href="#" class="w3-bar-item w3-button" style="text-align: center;">Link 3</a>
        <a href="#" class="w3-bar-item w3-button" style="text-align: center;">signin</a>
      </div>
      </div>

      <!-- starteatcoding name------------------------------------------------------------------------------------------------->

      <center>
        <div style="height: 640px;"> 
          <div style="padding: 250px 0px;">
        <p style="font-size: 50px;color: white;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">STARTATCODING</p>
        <a href="#" class="w3-button w3-text-white w3-hover w3-hover-text-white" style="background-color: #ff3333;">Get Started</a>
      </div>
      </div>
    </center>
    



      <!-- go examples------------------------------------------------------------------------------------------------------------>
        <div class="w3-container w3-white">
         <center><h2>Go Examples</h2></center>
<br>
<br>
<br>
    <center>
        <div class="w3-bar" style="width: 99%;">
         <a href="#"><div class="w3-bar-item w3-card-2 w3-white w3-mobile" style="width: 300px;height: 200px;margin-top: 25px; margin-bottom: 30px;margin-left: 4%;"><p>w3-card</p></div>
          <a href="#"><div class="w3-card-2 w3-bar-item w3-white w3-mobile" style="width: 300px;height: 200px;margin-top: 25px;margin-bottom: 30px;margin-left: 4%;"><p>w3-card-2</p></div>
            <a href="#"><div class="w3-card-2 w3-bar-item w3-white w3-mobile" style="width: 300px;height: 200px;margin-top: 25px;margin-bottom: 30px;margin-left: 4%;"><p>w3-card-4</p></div>
           <a href="#"><div class="w3-card-2 w3-bar-item w3-white w3-mobile" style="width: 300px;height: 200px;margin-top: 25px;margin-bottom: 30px;margin-left: 4%;"><p>w3-card-4</p></div>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
     
        </div></center>
        </div>

      <div style="background-color: #ff4d4d">
        <center>
        <div>
        <a href="#" class="fa fa-facebook" style="padding: 10px;
        font-size: 25px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%; margin-top: 3%;"></a>
        <a href="#" class="fa fa-twitter" style="padding: 10px;
        font-size: 25px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;"></a>
        <a href="#" class="fa fa-google" style="padding: 10px;
        font-size: 25px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;"></a>
        <a href="#" class="fa fa-linkedin" style="padding: 10px;
        font-size: 25px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;"></a>
        <a href="#" class="fa fa-youtube" style="padding: 10px;
        font-size: 25px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;"></a><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="color: white;margin-right: 75px;">startatcoding.com</a>
        </div><br>
        </center>
        </div>


<script>

window.onscroll = function() {myFunction()};

function myFunction() {
    if (document.body.scrollTop > 600 || document.documentElement.scrollTop > 600) {
    document.getElementById("myP").className = "w3-card w3-white";
    } else {
    document.getElementById("myP").className = "";
    }
}
function rrr() {
  var x = document.getElementById("demo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

</script>
</body>
</html>
