<!DOCTYPE html>
<html>
<title>main page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="sidebar.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<div class="w3-top">
  <div class="w3-bar w3-border w3-white w3-card" style="height: 75px;">
    <div style="margin-top: 15px">
      <a href="#" class="w3-bar-item" style="color: #ff3333;font-size: 40px;font-family: Impact;text-decoration: none;"><b>Startatcoding</b></a>
    </div>
   <!-- <div style="margin-left: 25%;">
    <div><input type="text" class="w3-card w3-border-0 w3-padding w3-bar-item" placeholder="search..." style="width: 70%"></div>
    <div class="w3-bar-item w3-button"><i class="fa fa-search"></i></div>
    </div>-->
    <div style="margin-left: 65%">
    <a class="w3-button w3-hover-none w3-white  w3-hide-medium w3-hide-small w3-bottombar w3-hover-border-orange w3-hover-text-orange" style="width: 100px;padding: 10px;">Home</a>
    <a class="w3-button w3-round-large w3-red w3-card w3-hide-medium w3-hide-small" style="margin-left: 20px; width: 100px;padding: 10px;">About</a>
    <a class="w3-button w3-round-large w3-red w3-card w3-hide-medium w3-hide-small" style="width: 100px;padding: 10px;margin-left: 20px;">Contact</a>
    <a class="w3-button w3-round-large w3-red w3-card w3-hide-medium w3-hide-small" style="margin-left: 20px; width: 100px;padding: 10px;">signin</a>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large" onclick="rrr()" style="margin-top: 20px;">&#9776;</a>
    </div>
    </div>
    <div id="demo" class="w3-bar-block w3-white w3-hide w3-hide-large">
      <a href="#" class="w3-bar-item w3-button" style="text-align: center;">Link 1</a>
      <a href="#" class="w3-bar-item w3-button" style="text-align: center;">Link 2</a>
      <a href="#" class="w3-bar-item w3-button" style="text-align: center;">Link 3</a>
      <a href="#" class="w3-bar-item w3-button" style="text-align: center;">signin</a>
    </div>
  </div>

<div style="margin-top: 100px;">
<div class="w3-sidebar w3-bar-block w3-collapse w3-card" style="width: 250px;margin-left: 2%;height: auto;position: absolute;" id="mySidebar">
<button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
<button class="w3-button w3-block w3-left-align tablink w3-red" style="padding: 20px;" onclick="basicprg(event,'Basic programs')">
Basic programs
</button>
<div id="demoAc" class="w3-hide w3-white w3-card">
<a href="#" class="w3-bar-item w3-button">Link</a>
<a href="#" class="w3-bar-item w3-button">Link</a>
</div>
<button class="w3-button w3-block w3-left-align tablink" style="padding: 20px;" onclick="pattern(event,'go patterns')">
go patterns
</button>
<div id="demoAcc" class="w3-hide w3-white w3-card">
<a href="#" class="w3-bar-item w3-button">Link</a>
<a href="#" class="w3-bar-item w3-button">Link</a>
</div>
<button class="w3-button w3-block w3-left-align tablink" style="padding: 20px;" onclick="advanced(event,'advanced programs')">
advanced programs
</button>
<div id="demoAccc" class="w3-hide w3-white w3-card">
<a href="#" class="w3-bar-item w3-button">Link</a>
<a href="#" class="w3-bar-item w3-button">Link</a>
</div>
<button class="w3-button w3-block w3-left-align tablink" style="padding: 20px;" onclick="approach(event,'go approach')">
go approach
</button>
<div id="demoAcccc" class="w3-hide w3-white w3-card">
<a href="#" class="w3-bar-item w3-button">Link</a>
<a href="#" class="w3-bar-item w3-button">hello</a>
</div>
          
          <!---
            <a href="#" class="w3-bar-item w3-button w3-border-bottom">Link</a>
            <a href="#" class="w3-bar-item w3-button w3-border-bottom">Link</a>
            <a href="#" class="w3-bar-item w3-button w3-border-bottom">Link</a>
            <a href="#" class="w3-bar-item w3-button w3-border-bottom">Link</a>
            <a href="#" class="w3-bar-item w3-button w3-border-bottom">Link</a>
            <a href="#" class="w3-bar-item w3-button w3-border-bottom">Link</a>
            <a href="#" class="w3-bar-item w3-button w3-border-bottom">Link</a>
            <a href="#" class="w3-bar-item w3-button w3-border-bottom">Link</a>
            <a href="#" class="w3-bar-item w3-button w3-border-bottom">Link</a>
            <a href="#" class="w3-bar-item w3-button w3-border-bottom">Link</a>
            <a href="#" class="w3-bar-item w3-button w3-border-bottom">Link</a>
            <a href="#" class="w3-bar-item w3-button w3-border-bottom">Link</a>
            <a href="#" class="w3-bar-item w3-button w3-border-bottom">Link</a>
            <a href="#" class="w3-bar-item w3-button w3-border-bottom">Link</a>
            <a href="#" class="w3-bar-item w3-button w3-border-bottom">Link</a>
            <a href="#" class="w3-bar-item w3-button w3-border-bottom">Link</a>
            <a href="#" class="w3-bar-item w3-button w3-border-bottom">Link</a>-->
</div>

<div class="w3-main" style="margin-left:350px;margin-right:250px;height: auto;">
<div class="w3-teal">
  <button class="w3-button w3-teal w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>My Page</h1>
  </div>
</div>

<div id="Basic programs" class="w3-container city">
  <h3>Responsive Sidebar</h3>
  <p>The sidebar in this example will always be displayed on screens wider than 992px, and hidden on tablets or mobile phones (screens less than 993px wide).</p>
  <p>On tablets and mobile phones the sidebar is replaced with a menu icon to open the sidebar.</p>
  <p>The sidebar will overlay of the page content.</p>
  <p><b>Resize the browser window to see how it works.</b></p>
  <div class=" w3-card w3-bar" style="height: 60px;">
    <div class="w3-bar-item w3-blue" style="height: 60px;"><p>1</p></div>
    <a href="#">
    <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
  </div>
 <br>
 <div class=" w3-card w3-bar" style="height: 60px;">
  <div class="w3-bar-item w3-blue" style="height: 60px;"><p>2</p></div>
  <a href="#">
  <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
  <div class="w3-bar-item w3-blue" style="height: 60px;"><p>3</p></div>
  <a href="#">
  <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
  <div class="w3-bar-item w3-blue" style="height: 60px;"><p>4</p></div>
  <a href="#">
  <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
  <div class="w3-bar-item w3-blue" style="height: 60px;"><p>5</p></div>
  <a href="#">
  <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
  <div class="w3-bar-item w3-blue" style="height: 60px;"><p>6</p></div>
  <a href="#">
  <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>7</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>8</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>9</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>11</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>12</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>13</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>14</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>15</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>16</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>17</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>18</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>19</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>20</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
<div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br><div class=" w3-card w3-bar" style="height: 60px;">
<div class="w3-bar-item w3-blue" style="height: 60px;"><p>10</p></div>
<a href="#">
<div class="w3-bar-item w3-white w3-hover-aqua" style="width: 835px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
</div>
<br>
                                              
  
</div>

<div id="go patterns" class="w3-container city" style="display: none;">
  <h3>Responsive Sidebar</h3>
  <p>The sidebar in this example will always be displayed on screens wider than 992px, and hidden on tablets or mobile phones (screens less than 993px wide).</p>
  <p>On tablets and mobile phones the sidebar is replaced with a menu icon to open the sidebar.</p>
  <p>The sidebar will overlay of the page content.</p>
  <p><b>Resize the browser window to see how it works.
    awdnmaskjgdctsarzedashdctyasfdhubhszgfdcuyasidhfgasufas<br>
    jhgsduyatduygasuydguasdas
  </b></p>
  <div class=" w3-card w3-bar" style="height: 60px;">
    <div class="w3-bar-item w3-blue" style="height: 60px;"><p>2</p></div>
    <a href="#">
    <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
  </div>
  <br>
  <div class=" w3-card w3-bar" style="height: 60px;">
    <div class="w3-bar-item w3-blue" style="height: 60px;"><p>2</p></div>
    <a href="#">
    <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
  </div>
  <br>
  <div class=" w3-card w3-bar" style="height: 60px;">
    <div class="w3-bar-item w3-blue" style="height: 60px;"><p>2</p></div>
    <a href="#">
    <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
  </div>
  <br>
  <div class=" w3-card w3-bar" style="height: 60px;">
    <div class="w3-bar-item w3-blue" style="height: 60px;"><p>2</p></div>
    <a href="#">
    <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
  </div>
  <br>
  <div class=" w3-card w3-bar" style="height: 60px;">
    <div class="w3-bar-item w3-blue" style="height: 60px;"><p>2</p></div>
    <a href="#">
    <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
  </div>
  <br>
  <div class=" w3-card w3-bar" style="height: 60px;">
    <div class="w3-bar-item w3-blue" style="height: 60px;"><p>2</p></div>
    <a href="#">
    <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
  </div>
  <br>
  </div>

  <div id="advanced programs" class="w3-container city" style="display: none;">
    <h3>Responsive Sidebar</h3>
    <p>The sidebar in this example will always be displayed on screens wider than 992px, and hidden on tablets or mobile phones (screens less than 993px wide).</p>
    <p>On tablets and mobile phones the sidebar is replaced with a menu icon to open the sidebar.</p>
    <p>The sidebar will overlay of the page content.</p>
    <p><b>Resize the browser window to see how it works.</b></p>
    <div class=" w3-card w3-bar" style="height: 60px;">
      <div class="w3-bar-item w3-blue" style="height: 60px;"><p>2</p></div>
      <a href="#">
      <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
    </div>
    <br>
    <div class=" w3-card w3-bar" style="height: 60px;">
      <div class="w3-bar-item w3-blue" style="height: 60px;"><p>2</p></div>
      <a href="#">
      <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
    </div>
    <br>
    <div class=" w3-card w3-bar" style="height: 60px;">
      <div class="w3-bar-item w3-blue" style="height: 60px;"><p>2</p></div>
      <a href="#">
      <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
    </div>
    <br>
    <div class=" w3-card w3-bar" style="height: 60px;">
      <div class="w3-bar-item w3-blue" style="height: 60px;"><p>2</p></div>
      <a href="#">
      <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
    </div>
    <br>
    <div class=" w3-card w3-bar" style="height: 60px;">
      <div class="w3-bar-item w3-blue" style="height: 60px;"><p>2</p></div>
      <a href="#">
      <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
    </div>
    <br>
    <div class=" w3-card w3-bar" style="height: 60px;">
      <div class="w3-bar-item w3-blue" style="height: 60px;"><p>2</p></div>
      <a href="#">
      <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
    </div>
    <br>
    </div>
    <div id="go approach" class="w3-container city" style="display: none;">
      <h3>Responsive Sidebar</h3>
      <p>The sidebar in this example will always be displayed on screens wider than 992px, and hidden on tablets or mobile phones (screens less than 993px wide).</p>
      <p>On tablets and mobile phones the sidebar is replaced with a menu icon to open the sidebar.</p>
      <p>The sidebar will overlay of the page content.</p>
      <p><b>Resize the browser window to see how it works.</b></p>
      <div class=" w3-card w3-bar" style="height: 60px;">
        <div class="w3-bar-item w3-blue" style="height: 60px;"><p>2</p></div>
        <a href="#">
        <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
      </div>
      <br>
      <div class=" w3-card w3-bar" style="height: 60px;">
        <div class="w3-bar-item w3-blue" style="height: 60px;"><p>2</p></div>
        <a href="#">
        <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
      </div>
      <br>
      <div class=" w3-card w3-bar" style="height: 60px;">
        <div class="w3-bar-item w3-blue" style="height: 60px;"><p>2</p></div>
        <a href="#">
        <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
      </div>
      <br>
      <div class=" w3-card w3-bar" style="height: 60px;">
        <div class="w3-bar-item w3-blue" style="height: 60px;"><p>2</p></div>
        <a href="#">
        <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
      </div>
      <br>
      <div class=" w3-card w3-bar" style="height: 60px;">
        <div class="w3-bar-item w3-blue" style="height: 60px;"><p>2</p></div>
        <a href="#">
        <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
      </div>
      <br>
      <div class=" w3-card w3-bar" style="height: 60px;">
        <div class="w3-bar-item w3-blue" style="height: 60px;"><p>2</p></div>
        <a href="#">
        <div class="w3-bar-item w3-white w3-hover-aqua" style="width: 845px;height: 60px;"><p>Golang program to find sum of two digits.</p></div></a>
      </div>
      <br>
      </div>
</div>
   
</div>

<div class="w3-yellow">
<div style="margin-left: 40%;">
<a href="#" class="fa fa-facebook" style="padding: 10px;
font-size: 25px;
width: 50px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%; margin-top: 3%;"></a>
<a href="#" class="fa fa-twitter" style="padding: 10px;
font-size: 25px;
width: 50px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%;"></a>
<a href="#" class="fa fa-google" style="padding: 10px;
font-size: 25px;
width: 50px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%;"></a>
<a href="#" class="fa fa-linkedin" style="padding: 10px;
font-size: 25px;
width: 50px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%;"></a>
<a href="#" class="fa fa-youtube" style="padding: 10px;
font-size: 25px;
width: 50px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%;"></a><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a>startatcoding.com</a>
</div><br><br>
</div>




<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

function basicprg(evtt,cityName) {
  //myAccFunc();
  openCity(evtt,cityName);
}

function pattern(evtt,cityName) {
  //myAccFuncc();
  openCity(evtt,cityName);
}

function advanced(evtt,cityName) {
  //myAccFunccc();
  openCity(evtt,cityName);
}

function approach(evtt,cityName) {
  //myAccFuncccc();
  openCity(evtt,cityName);
}

function myAccFunc() {
  var x = document.getElementById("demoAc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-green";
  } else { 
    x.className = x.className.replace(" w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-green", "");
  }
}

function myAccFuncc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-green";
  } else { 
    x.className = x.className.replace(" w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-green", "");
  }
}

function myAccFunccc() {
  var x = document.getElementById("demoAccc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-green";
  } else { 
    x.className = x.className.replace(" w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-green", "");
  }
}

function myAccFuncccc() {
  var x = document.getElementById("demoAcccc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-green";
  } else { 
    x.className = x.className.replace(" w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-green", "");
  }
}

function openCity(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-red", ""); 
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}

function rrr() {
  var x = document.getElementById("demo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
     
</body>
</html>
